# 모든 iml 파일을 무시
*.iml 

# .gradle 폴더의 모든 파일
.gradle/
.gradle

# build 폴더의 모든 class 파일
build/*.class

# build 폴더의 모든 파일은 무시하되, build/generated-snippets 폴더는 포함
build/
!build/generated-snippets


.idea
application.yml